.cp-pg-template {
	width: 100%;
	padding-top: var(--cp-gap--lg);
	padding-bottom: var(--cp-gap--lg);
	//color: var(--cpl--text-color);
	flex-grow: 1;

	.cp-pagination {
		ul {
			display: flex;
			justify-content: center;

			li > div:hover {
				background: transparent;
			}
		}

		//button, div {
		//	color: var(--cpl--text-color);
		//}

	}
}
