.entry-content {
	.cp-groups-filter {
		&--filters {
			a {
				text-decoration: none;
			}
		}
	}
}


.cp-groups-filter {

	//@include media-breakpoint-up(md) {
		legend {
			display: block;
		}

		&--toggle {
			display: none;
		}
	//}

	input[type=checkbox] {
		margin-right: var(--cp-gap-base);
	}

	&--form {
		//display: flex;
		//justify-content: flex-start;
		//flex-flow: row wrap;

		> * {
			margin-bottom: var(--cp-gap--sm);

			//&:not(:last-child) {
			//	margin-right: var(--cp-gap--sm);
			//}
		}

		.filter__button {
			button {
				color: inherit;
			}
		}
	}

	&--has-dropdown {
		position: relative;

		//@include media-breakpoint-up(md) {
			display: block;
			margin-right: 0 !important;
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}
		//}

		&.open {
			.cp-groups-filter--dropdown {
				display: block;
			}
		}
	}

	&--search--box,
	&--dropdown-button {
		width: 100%;

		&.cp-button {
			--cp-button--bg: white;
			--cp-button--bg--hover: var(--cp-color-ui-inverted);
		}
	}

	&--dropdown-button {
		justify-content: space-between;

		svg, .material-icons-outlined {
			display: none;
			margin: -0.25em -0.25em -0.25em 0.25em;
		}

		&:after {
			content: '\e313';
			font-family: 'Material Icons Outlined';
			font-size: 1.5em;
			line-height: .75em;
			margin: -0.25em -0.25em -0.25em 0.25em;
		}
	}

	&--dropdown {
		display: none;
		background: white;
		padding: var(--cp-gap--sm) var(--cp-gap--md);
		box-shadow: var(--cp-box-shadow);
		border-radius: var(--cp-border-radius);
		margin-top: .25em;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 5555;
		//width: calc( 100% + var(--cp-gap--md) * 2 );
		//margin-left: calc(var(--cp-gap--md) * -1);
		max-height: 50vh;
		overflow: scroll;

		label {
			display: block;
			cursor: pointer;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&--search {
		//margin-right: 0;
		//margin-left: auto !important;

		@include media-breakpoint-down(md) {
			flex-grow: 1;
		}

		&--box {
			background: white;
			display: flex;
			align-items: center;
			padding: var(--cp-button--padding);
			//border-radius: var(--cp-border-radius);
			//border: 1px solid var(--cp-color-text-disabled);
			line-height: var(--cp-button--line-height);
			height: 100%;

			svg, button {
				padding: 0;
				margin: 0 .5em 0 0;
				background: transparent;
				color: inherit;

				> * {
					display: block;
				}
			}

			input[type=text] {
				width: 8em;
				padding: 0;
				background: transparent;
				border: none !important;
				outline: none !important;
				box-shadow: none !important;
				flex-grow: 1;
			}
		}
	}

	&--filters {
		display: flex;
		margin-bottom: 2rem;

		&--filter {
			border: 1px solid;
			border-radius: 20px;
			display: inline-flex;
			padding: 0 .5em;
			margin-right: .5em;

			&:before {
				content: '\e5cd';
				font-family: 'Material Icons Outlined';
				margin: 0 0.25em 0 -0.25em;
			}
		}
	}

	&--attributes {
		padding: 0 var(--cp-gap--sm);

		> * {
			margin-top: var(--cp-gap-base);
		}
	}

}
