
.editor-styles-wrapper .wp-block-cp-groups-group-title {
	word-break: break-word;
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;

	&.wp-block-cp-groups-group-title > a {
		display: inline-block;
		text-decoration: none;
	}
}